@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
   font-family: 'Alata', sans-serif;
   /* font-family: 'Josefin Sans', sans-serif; */  
   
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 18px;
}